*{	-webkit-transition: .7s ease-out;
 	-moz-transition: .7s ease-out;
 	-o-transition:  .7s ease-out;
 	transition: .7s ease-out;
    list-style: none;
}

/*================================
TYPOGRAPHY
================================*/
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.8em;
}

.bigicon {font-size: 3em;}
h2{font-size: 42px;}
h3{font-size: 28px;}
h4{font-size: 18px; line-height: 1.4em;}

p{
    letter-spacing: 1px;
    color: #888888;
    font-weight: lighter;
}

/*================================
DEFAULT STYLE & FORMATING
================================*/
.sectionhead{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

hr.separetor{
    width: 80px;
    color: #363942;
    border-top: 2px solid #ffc000;
}

/*================================
Send Page
================================*/
.btn-send{
     color: #363942;
     border: 1px solid;
     border-color: #363942;
     opacity: 1
     }
.btn-send:hover{
     background-color:#363942;
     color: #fff;
     opacity: 1
     }
.btn-send:active{
     background-color:#363942;
     color: #fff;
     opacity: 1
     }
.btn-send:focus{
     background-color:#363942;
     color: #fff;
     opacity: 1
     }